# Default ignored files
.idea
/venv/
vard/.env
vard/.env
/vard/db.sqlite3
/vard/vardapp/__pycache__/
/vard/**/__pycache__/
/vard/APIapp/__pycache__/
/vard/appquery/__pycache__/
/vard/vardapp/migrations/__pycache__/
/vard/APIapp/migrations/__pycache__/
/vard/appquery/migrations/__pycache__/
/vard/files/
client_google
API_urls.txt
/files/
