# Default ignored files
.idea
/venv
.env
vard/.env
/vard/db.sqlite3
/vardapp/__pycache__
/APIapp/__pycache__
/appquery/__pycache__
/vardapp/migrations/__pycache__
/APIapp/migrations/__pycache__
/appquery/migrations/__pycache__
/vard/vardapp/__pycache__
/vard/APIapp/__pycache__
/vard/appquery/__pycache__
/vard/vardapp/migrations/__pycache__
/vard/APIapp/migrations/__pycache__
/vard/appquery/migrations/__pycache__
/vard/files
client_google
API_urls.txt
/files