<!DOCTYPE html>
<html>
  <head>
    

      
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="NONE,NOARCHIVE" />
      

      <title>Api Root – Django REST framework</title>

      
        
          <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap.min.css"/>
          <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap-tweaks.css"/>
        

        <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/prettify.css"/>
        <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/default.css"/>
        
      

    
  </head>

  
  <body class="">

    <div class="wrapper">
      
        <div class="navbar navbar-static-top navbar-inverse"
             role="navigation" aria-label="navbar">
          <div class="container">
            <span>
              
                <a class='navbar-brand' rel="nofollow" href='https://www.django-rest-framework.org/'>
                    Django REST framework
                </a>
              
            </span>
            <ul class="nav navbar-nav pull-right">
              
                
                  <li><a href='/drf/login/?next=/api/'>Log in</a></li>
                
              
            </ul>
          </div>
        </div>
      

      <div class="container">
        
          <ul class="breadcrumb">
            
              
                <li class="active"><a href="/api/">Api Root</a></li>
              
            
          </ul>
        

        <!-- Content -->
        <div id="content" role="main" aria-label="content">
          

          <div class="region"  aria-label="request form">
          

          
            <form id="get-form" class="pull-right">
              <fieldset>
                
                  <div class="btn-group format-selection">
                    <a class="btn btn-primary js-tooltip" href="/api/" rel="nofollow" title="Make a GET request on the Api Root resource">GET</a>

                    <button class="btn btn-primary dropdown-toggle js-tooltip" data-toggle="dropdown" title="Specify a format for the GET request">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      
                        <li>
                          <a class="js-tooltip format-option" href="/api/?format=json" rel="nofollow" title="Make a GET request on the Api Root resource with the format set to `json`">json</a>
                        </li>
                      
                        <li>
                          <a class="js-tooltip format-option" href="/api/?format=api" rel="nofollow" title="Make a GET request on the Api Root resource with the format set to `api`">api</a>
                        </li>
                      
                    </ul>
                  </div>
                
              </fieldset>
            </form>
          

          
            <form class="button-form" action="/api/" data-method="OPTIONS">
              <button class="btn btn-primary js-tooltip" title="Make an OPTIONS request on the Api Root resource">OPTIONS</button>
            </form>
          

          

          

          

          
          </div>

            <div class="content-main" role="main"  aria-label="main content">
              <div class="page-header">
                <h1>Api Root</h1>
              </div>
              <div class="pull-left">
                
                  <p>The default basic root view for DefaultRouter</p>
                
              </div>

              

              <div class="request-info" aria-label="request info">
                <pre class="prettyprint"><b>GET</b> /api/</pre>
              </div>

              <div class="response-info" aria-label="response info">
                <pre class="prettyprint"><span class="meta nocode"><b>HTTP 200 OK</b>
<b>Allow:</b> <span class="lit">GET, HEAD, OPTIONS</span>
<b>Content-Type:</b> <span class="lit">application/json</span>
<b>Vary:</b> <span class="lit">Accept</span>

</span>{
    &quot;authregister&quot;: &quot;<a href="http://127.0.0.1:8000/api/authregister/" rel="nofollow">http://127.0.0.1:8000/api/authregister/</a>&quot;
          &quot;signup&quot;: &quot;<a href="http://127.0.0.1:8000/api/auth/signup/" rel="nofollow">http://127.0.0.1:8000/api/auth/signup/</a>&quot;
    &quot;googlegister&quot;: &quot;<a href="http://127.0.0.1:8000/api/auth/google/" rel="nofollow">http://127.0.0.1:8000/api/auth/google/</a>&quot;
    &quot;githubgister&quot;: &quot;<a href="http://127.0.0.1:8000/api/auth/github/" rel="nofollow">http://127.0.0.1:8000/api/auth/github/</a>&quot;
           &quot;login&quot;: &quot;<a href="http://127.0.0.1:8000/api/auth/login/" rel="nofollow">http://127.0.0.1:8000/api/auth/login/</a>&quot;
          &quot;logout&quot;: &quot;<a href="http://127.0.0.1:8000/api/auth/logout/" rel="nofollow">http://127.0.0.1:8000/api/auth/logout/</a>&quot;

           &quot;admin&quot;: &quot;<a href="http://127.0.0.1:8000/admin/" rel="nofollow">http://127.0.0.1:8000/admin/</a>&quot;
        &quot;accounts&quot;: &quot;<a href="http://127.0.0.1:8000/api/accounts" rel="nofollow">http://127.0.0.1:8000/api/accounts</a>&quot;
            &quot;user&quot;: &quot;<a href="http://127.0.0.1:8000/api/auth/user/" rel="nofollow">http://127.0.0.1:8000/api/auth/user/</a>&quot;
           &quot;users&quot;: &quot;<a href="http://127.0.0.1:8000/api/users/" rel="nofollow">http://127.0.0.1:8000/api/users/</a>&quot;,
          &quot;access&quot;: &quot;<a href="http://127.0.0.1:8000/api/access/" rel="nofollow">http://127.0.0.1:8000/api/access/</a>&quot;,

            &quot;chat&quot;: &quot;<a href="http://127.0.0.1:8000/api/chat/" rel="nofollow">http://127.0.0.1:8000/api/chat/</a>&quot;,
         &quot;message&quot;: &quot;<a href="http://127.0.0.1:8000/api/message/" rel="nofollow">http://127.0.0.1:8000/api/message/</a>&quot;,

           &quot;files&quot;: &quot;<a href="http://127.0.0.1:8000/api/files/" rel="nofollow">http://127.0.0.1:8000/api/files/</a>&quot;,
      &quot;dashboards&quot;: &quot;<a href="http://127.0.0.1:8000/api/dashboards/" rel="nofollow">http://127.0.0.1:8000/api/dashboards/</a>&quot;,

          &quot;charts&quot;: &quot;<a href="http://127.0.0.1:8000/api/charts/" rel="nofollow">http://127.0.0.1:8000/api/charts/</a>&quot;,
        &quot;clientdb&quot;: &quot;<a href="http://127.0.0.1:8000/api/clientdb/" rel="nofollow">http://127.0.0.1:8000/api/clientdb/</a>&quot;,
      &quot;clientdata&quot;: &quot;<a href="http://127.0.0.1:8000/api/clientdata/" rel="nofollow">http://127.0.0.1:8000/api/clientdata/</a>&quot;,

        &quot;comments&quot;: &quot;<a href="http://127.0.0.1:8000/api/comments/" rel="nofollow">http://127.0.0.1:8000/api/comments/</a>&quot;,
    &quot;read_comment&quot;: &quot;<a href="http://127.0.0.1:8000/api/read_comment/" rel="nofollow">http://127.0.0.1:8000/api/read_comment/</a>&quot;,

        &quot;feedback&quot;: &quot;<a href="http://127.0.0.1:8000/api/feedback/" rel="nofollow">http://127.0.0.1:8000/api/feedback/</a>&quot;,

             &quot;drf&quot;: &quot;<a href="http://127.0.0.1:8000/drf/" rel="nofollow">http://127.0.0.1:8000/drf/</a>&quot;
         &quot;swagger&quot;: &quot;<a href="http://127.0.0.1:8000/swagger/" rel="nofollow">http://127.0.0.1:8000/swagger/</a>&quot;
           &quot;redoc&quot;: &quot;<a href="http://127.0.0.1:8000/redoc/" rel="nofollow">http://127.0.0.1:8000/redoc/</a>&quot;
}</pre>
              </div>
            </div>

            